.SidebarUser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    min-height: 40px;
    height: 40px;
    padding: 10px 0;
    color: #FAEFFF;
}

.SidebarUser .avatar {
	float: left;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.SidebarUser .avatar .avatar-image {
	height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	background-image: url('/images/avatar-default.png');
}

.SidebarUser .username {
    float: left;
    line-height: 40px;
    margin: 0;
    padding: 0;
    width: calc(100% - 110px);
}

.SidebarUser .auth-button {
	position: absolute;
    top: 20px;
    right: 12px;
    z-index: 3;
    cursor: pointer;
}

.SidebarUser .auth-button:hover {
	color: #E29C45;
}

