.SidebarFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	color: #FAEFFF;
	width: 100%;
	height: 75px;
}
.SidebarFooter .logo {
	float: left;
	margin: 10px 0;
	width: 60px;
	height: 60px;
	padding: 10px;
}
.SidebarFooter .logo img {
	width: 100%;
	height: auto;
}
.SidebarFooter	.branding {
	float: left;
	width: LeftSidebar-width - $bottombar-height - 80px;
	padding-top: 18px;
}
.SidebarFooter .branding .app-name {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 1.1em;
}
.SidebarFooter .branding .slogan {
	margin: 0;
	padding: 0;
	font-size: .7em;
}
