@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.App {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: auto;
}