.ChatSidebar {
	height: 100%;
	width: 40px;
	background: #ECF0F1;
	border-left: 1px solid #D8D8D8;
	color: gray;
}

.ChatSidebar .button {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.ChatSidebar .button:hover {
	color: white;
	background: #E29C45;
	cursor: pointer;
}